body {
  background-color: r;
  height: 100vh;
  font-family: poppins, verdana;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  .container {
    height: 75vh;
    width: 70vw;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: 0px 0px 20px black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    .contents {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .wlcm {
        font-size: 18px;
        font-weight: 500;
        span {
          font-size: 24px;
          font-weight: 700;
          .nurses {
            background-image: linear-gradient(90deg, red, blue, green);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
      form {
        width: 80%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .heading {
          margin: 0;
          font-size: 18px;
          font-weight: 500;
          border: 2px solid black;
          border-radius: 10px;
          padding: 2px 5px;
          span {
            font-weight: 700;
          }
        }
        .data {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .subName {
            margin-bottom: 5px;
          }
          .subMark {
            margin-bottom: 5px;
            input {
              border-radius: 8px;
              border: 1px solid black;
              padding: 2px 5px;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }
          }
        }
        #note {
          font-size: 10px;
          font-weight: 500;
          color: red;
          margin: 0;
        }
        button {
          background-color: black;
          border-radius: 15px;
          padding: 10px 20px;
          border: none;
          color: white;
          font-weight: 500;
        }
        button:hover {
          background-color: rgb(52, 231, 102);
          color: rgb(255, 255, 255);
          font-weight: 700;
        }
      }
    }
    .results {
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .heading {
        background-image: linear-gradient(90deg, red, blue, green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 20px 0 0;
        font-size: 28px;
      }
      .subHead {
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 10px;
      }
      .data {
        display: flex;
        column-gap: 10px;
        .subName h2,
        .letGrade h2 {
          font-size: 18px;
          font-weight: 500;
          margin: 0;
        }
        .marks h2,
        .numGrade h2 {
          font-size: 18px;
          font-weight: 400;
          margin: 0;
        }
        .subName,
        .letGrade,
        .marks,
        .numGrade {
          .head {
            font-weight: 700;
          }
        }
      }
      .final {
        font-size: 20px;
        font-weight: 500;
        border: 2px solid black;
        border-radius: 15px;
        padding: 5px 20px;
        margin: 25px 0 0;
        .short {
          font-size: 12px;
        }
        .bold,
        .letter {
          font-size: 24;
          font-weight: 700;
        }
      }
      .note {
        font-size: 10px;
        font-weight: 500;
        margin: 0;
      }
    }
  }
  .dev {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 20px;
    span {
      font-weight: 700;
    }
  }
}
